h1 {
    font-size: 80px;
}

#first-block {
    border-bottom: 3px solid black;
}

#canvas1 {
    margin: 20px;
    border: 1px solid red;
}

#embed-container {
    position: relative;
}

#embed-shade {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 560px;
    height: 315px;
    font-size: 50px;
    color: lightgreen;
    border: none;
    user-select: none;
}

#player {
    position: relative;
    top: 0px;
    left: 0px;
}
